a:hover {
  color: #0094ff;
}

a:focus, a:hover, a:active {
  color: #0094ff;
}

.nav-link:hover, .nav-link:focus {
  color: #0094ff;
}

a:focus, a:hover, a:active {
  color: #0094ff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #0094ff;
}

